<div class="col s4">
  <div class="card foodtruck-card grey lighten-3">

    <!-- Card Display Begin -->
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <%= foodtruck.applicant %>
      </span>
      <hr />
      <br />
      <p class="activator">
        <%= foodtruck.locationdescription %></a>
      </p>
      <br />
      <p><a class="activator">More Information</a></p>
    </div>
    <!-- Card Display End -->

    <!-- Card Reveal Begin -->
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        <%= foodtruck.applicant %>
      </span>
      <hr />
      <br />

      <span><strong>Menu:</strong></span><br />
      <% for (let j=0; j < menu.length; j++) { %>
        <span>
          <%= menu[j] %>
        </span><br />
      <% } %>
      <br /><br />

      <span><strong>Address:</strong></span>
      <br />
      <span>
        <%= foodtruck.address %>
      </span>
    </div>
    <!-- Card Reveal End -->

  </div>
</div>